<div id="pop-up-form-1" class="pop-up pop-up-form" role="dialog">
  <form action="" class="form pop-up-form_content">

    <h3 class="pop-up_title">Ваша заявка</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form_group">
          <label>
            <input type="text" placeholder="Ваше имя">
          </label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form_group">
          <label>
            <input type="text" placeholder="Ваш телефон">
          </label>
        </div>
      </div>
      <div class="col-12">
        <div class="form_group">
          <label>
            <textarea name="" id="" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
          </label>
        </div>
      </div>
    </div>
    <div class="form_btn">
      <button type="submit" class="btn">Отправить</button>
    </div>

  </form>
</div>
<!-- pop-up -->