<section class="banner"
     style="background-image:url(assets/images/banner/banner.jpg);">
  <div class="container-fluid">
    <div class="banner_content">
      <h2 class="title_large"><span>Expand </span> your business</h2>
      <a href="" class="btn-transparent">Join Us</a>
    </div>
  </div>
</section>