<section class="hero" id="hero">
    <div class="hero-wrap">
      <div class="hero_logo">
        <img src="assets/images/LOGO.png" alt="">
      </div>
      <div class="hero_slider js-hero-slider">
        <div class="hero_slide"
             style="background-image:url(assets/images/hero/block2_1.jpg);">
					<div class="hero_title">
						<p><span>Натяжные потолки <br></span> под ключ</p>
					</div>
          <div class="hero_content">
            <p>СОЗДАДИМ ВМЕСТЕ РАЙСКИЙ УГОЛОК НАСЛАЖДЕНИЯ В ВАШЕМ ДОМЕ</p>
          </div>
        </div>
        <div class="hero_slide"
             style="background-image:url(assets/images/hero/block2_2.jpg);">
					<div class="hero_title">
						<p><span>Натяжные потолки <br></span> под ключ</p>
					</div>
          <div class="hero_content">
            <p>СОЗДАДИМ ВМЕСТЕ РАЙСКИЙ УГОЛОК НАСЛАЖДЕНИЯ В ВАШЕМ ДОМЕ</p>
          </div>
        </div>
        <div class="hero_slide"
             style="background-image:url(assets/images/hero/block2_3.jpg);">
					<div class="hero_title">
						<p><span>Натяжные потолки <br></span> под ключ</p>
					</div>
          <div class="hero_content">
            <p>СОЗДАДИМ ВМЕСТЕ РАЙСКИЙ УГОЛОК НАСЛАЖДЕНИЯ В ВАШЕМ ДОМЕ</p>
          </div>
        </div>
        <div class="hero_slide"
             style="background-image:url(assets/images/hero/block2_4.jpg);">
					<div class="hero_title">
						<p><span>Натяжные потолки <br></span> под ключ</p>
					</div>
          <div class="hero_content">
            <p>СОЗДАДИМ ВМЕСТЕ РАЙСКИЙ УГОЛОК НАСЛАЖДЕНИЯ В ВАШЕМ ДОМЕ</p>
          </div>
        </div>
        <div class="hero_slide"
             style="background-image:url(assets/images/hero/block2_5.jpg);">
					<div class="hero_title">
						<p><span>Натяжные потолки <br></span> под ключ</p>
					</div>
          <div class="hero_content">
            <p>СОЗДАДИМ ВМЕСТЕ РАЙСКИЙ УГОЛОК НАСЛАЖДЕНИЯ В ВАШЕМ ДОМЕ</p>
          </div>
        </div>
      </div>
    </div>

</section>