<nav class="nav">
  <ul>
    <li>
      <a href="#hero">Бассейны</a>
    </li>
    <li>
      <a href="#about">О нас</a>
    </li>
    <li>
      <a href="#shares">Наши преимущества</a>
    </li>
    <li>
      <a href="#gallery">Фотогалерея</a>
    </li>
    <li>
      <a href="#footer">Контакты</a>
    </li>
  </ul>
</nav>