<div class="services-item">
  <h3 class="services-item_title">@@title</h3>
  <div class="services-item_img" style="background-image:url(@@img);"></div>
  <div class="services-item_content">
    <p>@@text</p>
  </div>
  <a href="@@popup" class="services-item_btn js-pop-up-form">Расчитать стоимость</a>
</div>