<section class="services section">
    <div class="row">
      <div class="col-lg-4">
        @@include('services-item.html', {
          "img": "assets/images/ser-1.jpg",
          "popup": "#pop-up-form-1",
          "title": "Стекловолоконный бассейн",
          "text": "Стекловолоконный бассейн - это, на сегодняшнее время, самый современный вариант бассейна. Он представляет собой цельную чашу бассейна, выполненную из полимерного композитного материала. Плюсами стекловолоконного бассейна, несомненно, являются сроки строительства , низкая теплопроводность материала, сроки эксплуатации и множество других плюсов, о которых Вам расскажут менеджеры нашей компании."
        })
      </div>
      <div class="col-lg-4">
        @@include('services-item.html', {
          "img": "assets/images/serv-2.jpg",
          "popup": "#pop-up-form-2",
          "title": "Сборные бассейны",
          "text": "Сборные бассейны – самый популярный тип бассейна на сегодняшний день. Этому способствует цена бассейнов, сроки монтажа, богатый выбор размеров и цветовой гаммы отделки. Самый распространенный вариант конструкции – лист металла, который собирается по своей форме, внутрь устанавливается пленочный вкладыш, собирается система фильтрации и производится набор воды – все, бассейн готов к эксплуатации, и радовать своих владельцев."
        })
      </div>
      <div class="col-lg-4">
        @@include('services-item.html', {
          "img": "assets/images/serv-3.jpg",
          "popup": "#pop-up-form-3",
          "title": "Бетонный бассейн",
          "text": "Бетонный бассейн – нестареющая классика, будущая актуальной во все времена. Основные плюсы строительства бетонного бассейна - это свобода формообразования, абсолютно любые размеры, ну а богатство выбора отделочных материалов не оставят равнодушным самого требовательного заказчика. Благодаря своей надежности и долговечности, бетонный бассейн будет радовать не одно поколение своих владельцев."
        })
      </div>
    </div>
</section>