.about {
  background-color: $white;
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
  color: $medium-gray;
  text-align: center;
  .title_medium {
    color: $medium-gray;
  }
}

.about_content {
  max-width: 95rem;
  margin: auto;
}