/* button template */

// base button styles; don't to change, only for extend
.btn {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
  font-size: inherit;
  padding: .65em 1.4em;
  line-height: 1;
  outline: 0;
  border: none;
  box-shadow: none;
  text-align: center;
  background-color: $blue;
  color: $white;
  transition-property: box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  // prevent
  user-select: none;
  appearance: none;
  &:focus {
    //outline: 0;
  }
  &:hover,
  &:active {
    box-shadow: 0 .5rem 1rem rgba($black, .5);
  }
}

.btn-icon {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  padding-right: 4rem;
  color: $white;
  background-color: #0095DA;
  transition-duration: .2s;
  i {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
  }
  &:hover {
    box-shadow: 0 .5rem 1.5rem rgba($light-2-gray, .5);
  }
}

/* button template end */