.footer {
  position: relative;
}

.footer_wrap {
  padding: 2rem;
  background-color: #0365b0;
  text-align: center;
}

.footer_address {
  display: inline-block;
  padding-bottom: 2rem;
  color: $white;
  text-align: center;
  line-height: 1.2;
}

.footer_contact {
  display: inline-block;
  padding-bottom: 1rem;
  color: $white;
  text-align: right;
  img  {
    display: inline-block;
    width: 100%;
    max-width: 3rem;
  }
  a {
    display: inline-block;
    padding-bottom: .7rem;
    padding-left: 2rem;
  }
}

.footer_title {
  position: relative;
  color: $white;
  font-size: 2.2rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.footer_bottom {
  padding-top: 2rem;
  color: $white;
}


@media only screen and (max-width: $screen-xs-max) {
  .footer_title,
  .footer_contact {
    text-align: center;
  }
}
