.form {
	padding: 2rem;
}

.form_group {
	display: block;
	padding-bottom: 2rem;
	label {
		display: block;
		width: 100%;
	}
	input {
		@extend .input;
	}
	textarea {
		@extend .input;
		resize: none;
	}
}