.gallery {
  background-color: $ghost-white;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 -1.5rem;
  padding-bottom: 2rem;
}

.gallery-list_item {
  flex-basis: 37rem;
  max-width: 37rem;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}

.gallery-list_link {
  display: block;
  padding-right: .5rem;
  padding-bottom: .5rem;
  box-shadow: 0 0 1.5rem rgba($light-gray, .9);
  background-color: $white;
  img {
    display: block;
    max-width: 100%;
  }
}

@media only screen and (max-width: $screen-md-max) {
  .gallery-list_item {
    flex-basis: 50%;
    width: 50%;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .gallery-list_item {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 3rem;
  }
}