.hero {
  position: relative;
  padding-top: 4.6rem;
  background-color: #615a5a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-wrap {
  position: relative;
}

.hero_logo {
  position: absolute;
  left: 8rem;
  top: 4rem;
  z-index: 2;
  max-width: 18rem;
  img {
    display: block;
    max-width: 100%;
  }
}

.hero_slider {

}

.hero_slide {
  position: relative;
  min-height: 60rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 30%;
    height: 200%;
    top: 50%;
    background-color: rgba($blue, .35);
    transform: rotate(-40deg) translateY(-50%);
    z-index: 1;
  }
}

.hero_title {
  position: absolute;
  left: 8rem;
  top: 40%;
  font-size: 5.8rem;
  //font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
  span {
    font-size: 2.8rem;
    color: orange;
  }
}

.hero_content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  padding: 2rem 1.5rem;
  color: $black;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3;
  z-index: 1;
}

@media only screen and (max-width: $screen-lg-max) {
  .hero_slide {
    &::before {
      right: 0;
    }
  }
}

@media only screen and (max-width: $screen-md-max) {
  .hero_slide {
    min-height: 50rem;
    &:before {
      top: 0;
      transform: none;
    }
  }
  .hero_title{
    font-size: 5rem;
    span {
      font-size: 3rem;
    }
  }
}
@media only screen and (max-width: $screen-sm-max) {
  .hero {
    padding-top: 3rem;
  }
  .hero_slide {
    min-height: 45rem;
  }
  .hero_title{
    max-width: 24rem;
    overflow: hidden;
    font-size: 4rem;
    left: 2rem;
    span {
      font-size: 2rem;
    }
  }
  .hero_logo {
    position: static;
    max-width: 13rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: $screen-xs-max) {

}