.input {
	display: block;
	width: 100%;
	background-color: $white;
	color: $black;
	padding: .9rem;
	line-height: 1.25;
	outline: 0;
	background: $white;
	border: 1px solid #d7d7d7;
	transition-property: color, border;
	transition-duration: .2s;
	transition-timing-function: ease-out;
	// prevent
	appearance: none;
	&:focus {
		border-color: $light-gray;
	}
	&::-webkit-input-placeholder {color: $medium-gray;}
	&::-moz-placeholder          {color: $medium-gray;}/* Firefox 19+ */
	&:-moz-placeholder           {color: $medium-gray;}/* Firefox 18- */
	&:-ms-input-placeholder      {color: $medium-gray;}
}