.nav {
  ul {
    display: flex;
    justify-content: space-around;
    background-color: #0365b0;
    li {
      //flex-basis: 25%;
      //width: 25%;
      padding: 0 15px;
      text-align: center;
      a {
        position: relative;
        display: inline-block;
        padding: 1rem 0;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 2;
        height: 100%;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 1rem;
          height: .1rem;
          background-color: $white;
          opacity: 0;
          transition-duration: .2s;
        }
        &:hover {
          text-shadow: 1px 1px 1px #0e6092;
          &:before {
            opacity: 1;
          }
        }
      }
    }
    &.current-item {
      color: $red;
      &:before {
        opacity: 1;
        height: .4rem;
      }
    }
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .header .nav {
    display: none;
  }
  .nav {
    ul {
      flex-direction:column;
      background: none;
      li {
        flex-basis: 100%;
        width: 100%;
        a {
          color: $white;
          background-image: none;
        }
      }
    }
  }
}


