.services-item {
  position: relative;
  display: block;
  padding-bottom: 5rem;
  height: 100%;
  background-color: $white;
  box-shadow: 0 0 1.5rem rgba($silver-gray, .9);
}

.services-item_img {
  padding-bottom: 50%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.services-item_title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8rem;
  padding: 1.5rem;
  padding-bottom: 2rem;
  font-size: 2.2rem;
  color: $blue;
  text-align: center;
  text-transform: uppercase;
}

.services-item_content {
  @extend .typography;
  padding: 1.5rem;
  color: $medium-gray;
  text-align: center;
}

.services-item_btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $blue;
  padding: 1.3rem 2rem;
  color: $white;
  text-align: center;
  font-size: 1.8rem;
  transition-duration: .2s;

  &:hover {
    box-shadow: 0 .5rem 1.5rem rgba($light-2-gray, .5);
  }
}

@media only screen and (max-width: $screen-md-max) {
  .services-item {
    height: auto;
    margin-bottom: 2rem;
  }
}