.shares-slider {
  display: flex;
  margin: 0 -1.5rem;
  button.slider_btn {
    color: $black;
    &.slider_btn--prev {
      left: -2rem;
    }
    &.slider_btn--next {
      right: -2rem;
    }
  }
}

.shares-slider_slide {
  width: 33.333%;
  max-width: 36.5rem;
  padding: 1.5rem;
  margin: 1rem 1.5rem;
  background-color: $white;
  box-shadow: 0 0 1.5rem rgba($silver-gray, .9);
}

.shares-slider_thumb {
  //padding-bottom: 50%;
  //background-size: cover;
  //background-position: 50%;
  //background-repeat: no-repeat;
  display: block;
  img {
    display: block;
    max-width: 100%;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .shares-slider {
    flex-wrap: wrap;
    .shares-slider_slide {
      max-width: 100%;
      width: 100%;
    }
  }
  .shares-slider {
    &.slick-slider {
      .shares-slider_slide {
        max-width: 36.5rem;
      }
    }
  }

}