/* img-slider.scss */

.slick-slider {
	display: block;
	margin: 0 auto;
	position: relative;
	.slider_btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		background-color: transparent;
		font-size: 3.5rem;
		color: $white;
		z-index: 10;
		opacity: .7;
		&:hover {
			opacity: 1;
		}
		&.slider_btn--prev {
			left: 0;
		}
		&.slider_btn--next {
			right: 0;
		}
	}
	.slick-dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 2rem;
		text-align: center;
		z-index: 2;
		li {
			display: inline-block;
			padding: 0 1rem;
			opacity: .7;
			button {
				border: none;
				background-color: $white;
				padding: 0;
				margin: 0;
				height: 1rem;
				width: 1rem;
				text-indent: -9999px;
			}
			&.slick-active, &:hover {
				opacity: 1;
			}
		}
	}
}

.simple-slider_slide {
	display: block;
	width: 100%;
	height: auto;
	outline: 0;
	> a {
		display: block;
		margin: 0 auto;
	}
	img {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}


/* img-slider.scss end */