.socials {
  display: inline-block;
  padding-bottom: 1rem;
  li {
    display: inline-block;
    padding: 0 1rem;
    a {
      display: block;
      font-size: 2rem;
      color: $white;
      transition-duration: .2s;
      &:hover {
        color: $blue;
      }
    }
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .socials{
    justify-content: center;
  }
}