.steps-box {

}

.steps-box_img {
  max-width: 16rem;
  margin: auto;
  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}

.steps-box_text {
  text-align: center;
  font-size: 1.6rem;
  color: $white;
  line-height: 1.3;
}
