.steps-section {
  background-color: $blue;
}

.steps {
  display: flex;
}

.steps_item {
  max-width: 16.6%;
  &:last-child {
    .steps-box {
      &::before {
        display: none;
      }
    }
  }
}