.title {
  text-transform: uppercase;
  font-weight: 300;
  color: $white;
  text-align: center;
}

.title_small {
  @extend .title;
  font-size: 2rem;
}

.title_medium {
  @extend .title;
  font-size: 2.8rem;
  padding-bottom: 2rem;
}

.title_large {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: .1rem;
}


@media only screen and (max-width: $screen-sm-max) {
  .title_large {
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .title_medium {
    font-size: 2.6rem;
  }
  .title_large {
    font-size: 4rem;
  }
}

