.container-fluid {
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0;
}

.section {
  padding: 4rem 2rem;
}

.container-wrap {
  box-shadow: 0 0 8px #B4B4B4;
  //background: #f4f4f4;
}