<footer class="footer" id="footer">
  <div class="container-fluid">
    <div class="footer_wrap">
      <div class="row">
        <div class="col-md-4">
          <h4 class="footer_title">Свяжитесь с нами</h4>
        </div>
        <div class="col-md-4">
          <div class="footer_contact">
            <img src="../assets/images/phone.png" alt="">
            <a href="mailto:Buildpools1@gmail.com">Buildpools1@gmail.com</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer_contact">
            <img src="../assets/images/email.png" alt="">
            <a href="tel:+380634269055">+380634269055</a>
          </div>
        </div>
      </div>
      
      <div class="footer_bottom">
        <p>© 2018 BUILDPOOLS - Все права защищены </p>
      </div>
    </div>

  </div>
</footer>
