 <!-- SCRIPTS -->
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="assets/vendors/jquery/jquery-1.12.0.min.js"><\/script>')
	</script>
	<!-- libs -->
 <script src=assets/vendors/device.js></script>
 <script src=assets/vendors/magnific-popup/jquery.magnific-popup.min.js></script>
 <script src=assets/vendors/slick/slick.js></script>
 <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>-->
 <script src=assets/vendors/waypoints/waypoints.min.js></script>
 <!--<script src=assets/vendors/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.min.js></script>-->

	<script src=assets/js/main.js></script>
	<!-- SCRIPTS end