.typography {

	font-size: 1.6rem;
	font-weight: 400;
	//color: $smoke-gray;

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		//color: $light-purple;
		font-family: $title-fonts;
		font-weight: 400;
		line-height: 1.3;
		margin-bottom: .8em;
	}

	h1,
	.h1 {
		font-size: 4.4rem;
	}

	h2,
	.h2 {
		font-size: 3.6rem;
	}

	h3,
	.h3 {
		font-size: 3rem;
	}

	h4,
	.h4 {
		font-size: 2.4rem;
	}

	h5,
	.h5 {
		font-size: 2rem;
	}

	h6,
	.h6 {
		font-size: 1.8rem;
	}

	p {
		margin: 0;
		margin-bottom: .5em;
		line-height: 1.6;
	}

	strong {
		font-weight: 700;
	}

	small {
		font-size: 1.4rem;
		line-height: 1.5;
	}

	a:not([class]) {
		//color: $pink;
		text-decoration: none;
		&:hover {
			text-decoration: underline
		}
		&:active {
			color: #222
		}
	}



	ul, ol {
		display: block;
		position: relative;
		margin: 1rem 2rem;
		padding: 0;
		list-style-position: outside;
		li {
			margin: .5rem 0;
			padding: 0;
		}
	}

	ul li {
		list-style: disc;
	}

	ol li {
		list-style: decimal;
		font-weight: 400;
	}


	blockquote {

	}


	img {
		display: block;
		position: relative;
		max-width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.typography {
		img {
			max-width: 100% !important;
			height: auto !important;
		}
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.typography {
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
			text-align: center;
		}

		h1,
		.h1 {
			font-size: 3.8rem;
		}

		h2,
		.h2 {
			font-size: 3rem;
		}

		h3,
		.h3 {
			font-size: 2.4rem;
		}

		h4,
		.h4 {
			font-size: 2rem;
		}

		h5,
		.h5 {
			font-size: 2rem;
		}

		h6,
		.h6 {
			font-size: 1.8rem;
		}
	}
}

