$html-font-size: 62.5%;
/* breakpoints */
$screen-xs: 0 !default; // 0
//// Small screen / tablet
$screen-sm: 36em !default; // 576px
//// Medium screen / desktop
$screen-md: 48em !default; // 768px
//// Large screen
$screen-lg: 62em !default; // 992px
//// Extra large screen
$screen-xl: 75em !default; // 1200px
//// Super extra large screen
//$screen-xxlg: 100em !default; // 1600px
$grid-breakpoints: (
        xs: 0,
        sm: $screen-sm,
        md: $screen-md,
        lg: $screen-lg,
        xl: $screen-xl
) !default;

$content-max-width: 128rem !default;
$content-min-width: 30rem !default;

// for min-width media
//$screen-xs-min: $screen-xs !default; // from 768
$screen-sm-min: $screen-sm !default; // from 577px
$screen-md-min: $screen-md !default; // from 769px
$screen-lg-min: $screen-lg !default; // from 993px
$screen-xl-min: $screen-xl !default; // from 1201px
//
//// for max-width media
$screen-xs-max: ($screen-sm - 0.0625) !default; // till 575
$screen-sm-max: ($screen-md - 0.0625) !default; // till 769px
$screen-md-max: ($screen-lg - 0.0625) !default; // till 991px
$screen-lg-max: ($screen-xl - 0.0625) !default; // till 1199px
//$screen-xlg-max: ($screen-xxl - 0.0625) !default; // till 1599

/* color variables */
$white: #fff; //const
$black: #000; //const

$red: #fc635e !default;
$blue: #0095DA !default;

$white-smoke: #f2f2f2;
$ghost-white: #ebebeb;
$silver-gray: #cac9c9;
$light-gray: #adadad;
$light-2-gray: #868686;
$medium-gray: #333;
$dark-gray: #212121;

/* fonts */
$main-font: 'Lato';
$title-font: 'Lato';

$default-fonts: 'Lato', sans-serif;;
$title-fonts: 'Lato', sans-serif;;